@model IngredientServiceModel
@{
    ViewData["Title"] = "Edit";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input readonly asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinStockQuantityThreshold"></label>
                <input readonly asp-for="MinStockQuantityThreshold" class="form-control" />
                <span asp-validation-for="MinStockQuantityThreshold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityInStock"></label>
                <input asp-for="QuantityInStock" class="form-control" />
                <span asp-validation-for="QuantityInStock" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Edit</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}