@model IEnumerable<ProductOrderListModel>

@{
    ViewData["Title"] = "Orders";
}

<div class="row">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th class="col-xs-1">
                    Product name
                </th>
                <th class="col-xs-1">
                    ProductType
                </th>
                <th class="col-xs-1">
                    WaiterName
                </th>
                <th class="col-xs-1">
                    Order time
                </th>
                <th class="col-xs-1">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>
                        @product.ProductName
                    </td>
                    <td>
                        @product.ProductType
                    </td>
                    <td>
                        @product.WaiterName
                    </td>
                    <td>
                        @product.OrderTime
                    </td>
                    <td>
                       <a class="btn btn-success" asp-area="Cook" asp-controller="Orders" asp-action="ConfirmReady" asp-all-route-data='new Dictionary<string, string> { {"productId", product.ProductId.ToString() }, { "orderId", product.OrderId.ToString()} }'>
                        Ready
                       </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>